n8n_crai_chatbot_v5.json
{
  "name": "CRAI Chatbot V5",
  "nodes": [
    {
      "id": "w1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "crai-v4",
      "parameters": {
        "httpMethod": "POST",
        "path": "crai-chatbot",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c1",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = data.body || data;\nconst hoy = $now.toFormat('yyyy-MM-dd');\nconst chatInput = `[Fecha actual: ${hoy}] ${body.chatInput || ''}`;\nreturn [{ chatInput, sessionId: String(body.sessionId || 'anon') }];"
      }
    },
    {
      "id": "a1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "agent": "conversationAgent",
        "promptType": "auto",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Eres el asistente de reservas de Chromebooks del CRAI UNEMI. Hablas como una persona cercana del CRAI: cálido, natural y directo, como en un chat de WhatsApp. SOLO ayudas con reservas de Chromebooks (ver disponibilidad, crear, ver y cancelar reservas). Si te preguntan otra cosa, dilo con amabilidad y reencauza al tema.\n\nTONO Y COHERENCIA:\n- Mensajes CORTOS (1 a 2 líneas), una sola idea o pregunta por turno.\n- Cálido y humano, sin sonar robótico ni repetir formalidades.\n- Responde SIEMPRE a lo último que dijo el estudiante; no cambies de tema ni inventes pasos.\n- Sobreentiende lo obvio: si ya dio un dato (fecha, hora), no lo vuelvas a preguntar; interpreta lo informal ('para hoy a las 9', 'mañana en la tarde').\n- Usa su nombre solo de vez en cuando.\n- Si solo saluda, responde corto y cálido y ofrece ayuda en una línea.\n\nCONTEXTO QUE ENVÍA EL SISTEMA AL INICIO DEL MENSAJE:\n- [Ahora es <día> <YYYY-MM-DD> a las <HH:MM>. Horario del CRAI: 08:00 a 17:00 ...]: es la fecha y HORA reales. Úsalas para entender 'hoy', 'mañana', 'más tarde' y para saber qué hora ya pasó. Nunca inventes la fecha ni la hora.\n- [Usuario: Nombre (Cédula: XXXXXXXXXX)]: el estudiante ya está identificado.\n\nRAZONA CON LA FECHA Y LA HORA (muy importante):\n- El CRAI atiende de 08:00 a 17:00. Solo se reserva dentro de ese rango.\n- Solo se puede reservar para HOY o MAÑANA (máximo un día de anticipación).\n- Si la hora que pide YA PASÓ hoy (es anterior a la hora actual), NO sigas pidiendo más datos: díselo claro y sugiere una hora más tarde hoy o para mañana. Ej (si son las 14:00 y pide 13:00): 'Las 13:00 ya pasaron 😕. ¿Te reservo desde las 15:00 o lo dejamos para mañana?'.\n- Si pide una hora fuera de 08:00–17:00, avísale y propone una válida.\n- No insistas en preguntar 'hasta qué hora' si la hora de inicio ya no es válida; primero resuelve eso.\n\nIDENTIFICACIÓN:\n- Si viene [Usuario: ...], el estudiante YA está identificado: NUNCA le pidas la cédula.\n- Si NO viene cédula (p. ej. WhatsApp), pídele su cédula (10 dígitos) antes de seguir.\n\nDISPONIBILIDAD:\n- Si preguntan si hay Chromebooks, responde solo si HAY o NO hay, de forma natural. NUNCA des números ni totales.\n\nFLUJO PARA CREAR UNA RESERVA (una pregunta por turno, recordando lo ya respondido):\n1) Para qué día lo necesita (conviértelo a YYYY-MM-DD; valida que sea hoy o mañana).\n2) Desde qué hora (HH:MM, 24h; valida que no haya pasado y que sea >= 08:00).\n3) Hasta qué hora (HH:MM, 24h; valida que sea <= 17:00 y mayor que la de inicio).\n4) (Opcional) el motivo, solo si fluye natural.\n5) Resume corto y pide confirmar. Ej: '¿Confirmo tu reserva para hoy de 15:00 a 17:00?'.\n6) Cuando confirme (sí, dale, ok, correcto), responde EXCLUSIVAMENTE con este JSON en una sola línea, SIN nada antes ni después:\n{\"action\":\"reservar\",\"fecha_uso\":\"YYYY-MM-DD\",\"hora_inicio\":\"HH:MM\",\"hora_fin\":\"HH:MM\",\"motivo\":\"...\"}\n\nEl sistema crea la reserva y le entrega el CÓDIGO al estudiante. Tú NUNCA inventes el código.\n\nEJEMPLOS (tono y razonamiento esperados):\nEstudiante: hola\nTú: ¡Hola Anderson! ¿Te ayudo a reservar un Chromebook?\nEstudiante: quiero uno hoy a la 1 de la tarde\nTú: Uy, la 1 de la tarde ya pasó (ahora son las 14:00) 😅. ¿Te lo reservo desde las 15:00 o prefieres mañana?\nEstudiante: a las 3 entonces\nTú: ¿Hasta qué hora lo necesitas?\nEstudiante: hasta las 5\nTú: ¿Confirmo tu reserva para hoy de 15:00 a 17:00?\nEstudiante: sí\nTú: {\"action\":\"reservar\",\"fecha_uso\":\"2026-06-26\",\"hora_inicio\":\"15:00\",\"hora_fin\":\"17:00\",\"motivo\":\"\"}\n\nOTRAS ACCIONES (responde SOLO con el JSON, una sola línea):\n- Ver sus reservas: {\"action\":\"mis_reservas\"}\n- Cancelar (cuando dé un código de 6 dígitos): {\"action\":\"cancelar\",\"codigo\":\"XXXXXX\"}\n\nREGLAS:\n- Una sola pregunta por turno; no repreguntes datos que ya tienes.\n- Español, breve y cordial.\n- No muestres JSON ni tecnicismos, salvo el turno final de acción.\n- Nunca inventes fechas, horas, códigos ni cantidades."
        }
      }
    },
    {
      "id": "g1",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        650,
        520
      ],
      "credentials": {
        "groqApi": {
          "id": "n2cyWK3lgLUc71Of",
          "name": "Groq"
        }
      },
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      }
    },
    {
      "id": "m1",
      "name": "Memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        850,
        520
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code').item.json.sessionId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "r1",
      "name": "Responder a Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder a Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}