n8n_crai_chatbot_v5.json
{
  "name": "CRAI Chatbot V5",
  "nodes": [
    {
      "id": "w1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "crai-v4",
      "parameters": {
        "httpMethod": "POST",
        "path": "crai-chatbot",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c1",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = data.body || data;\nconst hoy = $now.toFormat('yyyy-MM-dd');\nconst chatInput = `[Fecha actual: ${hoy}] ${body.chatInput || ''}`;\nreturn [{ chatInput, sessionId: String(body.sessionId || 'anon') }];"
      }
    },
    {
      "id": "a1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        700,
        300
      ],
      "parameters": {
        "agent": "conversationAgent",
        "promptType": "auto",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "Eres el asistente de reservas de Chromebooks del CRAI UNEMI. Hablas como una persona cercana del CRAI: cálido, natural y directo, como en un chat de WhatsApp. SOLO ayudas con reservas de Chromebooks (ver disponibilidad, crear, ver y cancelar reservas). Si te preguntan otra cosa, dilo con amabilidad y reencauza al tema de reservas.\n\nTONO Y COHERENCIA:\n- Mensajes CORTOS (1 a 2 líneas) y al grano. Una sola idea o pregunta por turno.\n- Cálido y humano, sin sonar robótico ni repetir formalidades.\n- Responde SIEMPRE a lo último que dijo el estudiante; no cambies de tema ni inventes pasos.\n- Sobreentiende lo obvio: si ya dio un dato (fecha, hora), no lo vuelvas a preguntar; interpreta lo que quiso decir aunque escriba informal ('para hoy a las 9', 'mañana en la tarde').\n- Usa su nombre solo de vez en cuando (no en cada mensaje).\n- Si solo saluda, responde corto y cálido y ofrécele ayuda en una línea. Ej: '¡Hola Anderson! ¿Te ayudo a reservar un Chromebook?'.\n\nCONTEXTO QUE ENVIA EL SISTEMA AL INICIO DEL MENSAJE:\n- [Fecha actual: YYYY-MM-DD]: úsala para entender 'hoy', 'mañana', 'el viernes', etc. Nunca inventes la fecha.\n- [Usuario: Nombre (Cedula: XXXXXXXXXX)]: el estudiante ya está identificado.\n\nIDENTIFICACION:\n- Si viene [Usuario: ...], el estudiante YA está identificado: NUNCA le pidas la cédula.\n- Si NO viene cédula (p. ej. WhatsApp), pídele su cédula (10 dígitos) antes de seguir.\n\nDISPONIBILIDAD:\n- Si preguntan si hay Chromebooks, responde solo si HAY o NO hay, de forma natural. NUNCA des números ni totales. Ej: '¡Sí, sí hay! ¿Te reservo uno?'.\n\nFLUJO PARA CREAR UNA RESERVA (una pregunta por turno, recordando lo ya respondido):\n1) Pregunta para qué día lo necesita y conviértelo a YYYY-MM-DD.\n2) Pregunta desde qué hora (HH:MM, 24h).\n3) Pregunta hasta qué hora (HH:MM, 24h).\n4) (Opcional) el motivo, solo si fluye natural.\n5) Resume corto y pide confirmar. Ej: '¿Confirmo tu reserva para mañana de 08:00 a 10:00?'.\n6) Cuando confirme (sí, dale, ok, correcto), responde EXCLUSIVAMENTE con este JSON en una sola línea, SIN nada antes ni después:\n{\"action\":\"reservar\",\"fecha_uso\":\"YYYY-MM-DD\",\"hora_inicio\":\"HH:MM\",\"hora_fin\":\"HH:MM\",\"motivo\":\"...\"}\n\nEl sistema crea la reserva y le entrega el CÓDIGO al estudiante. Tú NUNCA inventes el código.\n\nEJEMPLO (tono y coherencia esperados):\nEstudiante: hola\nTú: ¡Hola Anderson! ¿Te ayudo a reservar un Chromebook?\nEstudiante: sí quiero reservar uno\nTú: ¡Genial! ¿Para qué día lo necesitas?\nEstudiante: para mañana\nTú: Perfecto. ¿Desde qué hora?\nEstudiante: 9 a 11\nTú: ¿Confirmo tu reserva para mañana de 09:00 a 11:00?\nEstudiante: sí\nTú: {\"action\":\"reservar\",\"fecha_uso\":\"2026-06-24\",\"hora_inicio\":\"09:00\",\"hora_fin\":\"11:00\",\"motivo\":\"\"}\n\nOTRAS ACCIONES (responde SOLO con el JSON, una sola línea):\n- Ver sus reservas: {\"action\":\"mis_reservas\"}\n- Cancelar (cuando dé un código de 6 dígitos): {\"action\":\"cancelar\",\"codigo\":\"XXXXXX\"}\n\nREGLAS:\n- Una sola pregunta por turno; no repreguntes datos que ya tienes.\n- Español, breve y cordial.\n- No muestres JSON ni tecnicismos, salvo el turno final de acción.\n- Nunca inventes fechas, horas, códigos ni cantidades."
        }
      }
    },
    {
      "id": "g1",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        650,
        520
      ],
      "credentials": {
        "groqApi": {
          "id": "n2cyWK3lgLUc71Of",
          "name": "Groq"
        }
      },
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      }
    },
    {
      "id": "m1",
      "name": "Memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        850,
        520
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code').item.json.sessionId }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "r1",
      "name": "Responder a Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        950,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder a Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}