n8n_crai_chatbot_v4_backup.json
{"updatedAt":"2026-06-19T07:31:14.113Z","createdAt":"2026-06-19T07:31:14.113Z","id":"eKkZZ3OHBqF80AI7","name":"CRAI Chatbot V4","description":null,"active":true,"isArchived":false,"nodes":[{"id":"w1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"crai-v4","parameters":{"httpMethod":"POST","path":"crai-chatbot","responseMode":"lastNode","options":{}}},{"id":"c1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{ chatInput: data.body.chatInput }];"}},{"id":"t1","name":"VerDisponibilidad","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[200,50],"parameters":{"toolDescription":"Consulta disponibilidad de Chromebooks. Sin parametros.","method":"GET","url":"http://127.0.0.1:8000/estudiantes/api/disponibilidad/","authentication":"none"}},{"id":"t2","name":"InfoEstudiante","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[400,50],"parameters":{"toolDescription":"Busca estudiante por cedula (10 digitos). Devuelve: nombres, apellidos, carrera.","method":"GET","url":"http://127.0.0.1:8000/estudiantes/api/info-estudiante/?cedula={cedula}","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"X-N8N-KEY","valueProvider":"fieldValue","value":"clave-n8n-dev"}]},"placeholderDefinitions":{"values":[{"name":"cedula","description":"Cedula del estudiante 10 digitos","type":"string"}]}}},{"id":"t3","name":"MisReservas","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[600,50],"parameters":{"toolDescription":"Lista reservas por cedula (10 digitos).","method":"GET","url":"http://127.0.0.1:8000/estudiantes/api/mis-reservas/?cedula={cedula}","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"X-N8N-KEY","valueProvider":"fieldValue","value":"clave-n8n-dev"}]},"placeholderDefinitions":{"values":[{"name":"cedula","description":"Cedula del estudiante 10 digitos","type":"string"}]}}},{"id":"t4","name":"CrearReserva","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[800,50],"parameters":{"toolDescription":"Crea reserva de Chromebook: cedula, fecha_uso (YYYY-MM-DD), hora_inicio (HH:MM), hora_fin (HH:MM), motivo.","method":"POST","url":"http://127.0.0.1:8000/estudiantes/api/crear-reserva/","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"X-N8N-KEY","valueProvider":"fieldValue","value":"clave-n8n-dev"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"cedula\":\"{cedula}\",\"fecha_uso\":\"{fecha_uso}\",\"hora_inicio\":\"{hora_inicio}\",\"hora_fin\":\"{hora_fin}\",\"motivo\":\"{motivo}\"}","placeholderDefinitions":{"values":[{"name":"cedula","description":"Cedula 10 digitos","type":"string"},{"name":"fecha_uso","description":"Fecha YYYY-MM-DD","type":"string"},{"name":"hora_inicio","description":"Hora inicio HH:MM","type":"string"},{"name":"hora_fin","description":"Hora fin HH:MM","type":"string"},{"name":"motivo","description":"Motivo opcional","type":"string"}]}}},{"id":"a1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[600,300],"parameters":{"agent":"conversationAgent","promptType":"auto","hasOutputParser":false,"options":{"systemMessage":"Eres asistente de reservas CRAI UNEMI.\n\nEl estudiante fue identificado por el sistema. Sus datos aparecen al inicio del mensaje: [Usuario: Nombre (Cedula: X)].\n\nFLUJO:\n1) Saluda al estudiante por su nombre.\n2) Pregunta fecha deseada en formato YYYY-MM-DD.\n3) Pregunta hora de inicio en formato HH:MM.\n4) Pregunta hora de fin en formato HH:MM.\n5) Confirma todos los datos con el estudiante.\n6) Cuando el estudiante confirme, responde UNICAMENTE con un JSON en este formato exacto: {\"action\":\"reservar\",\"fecha_uso\":\"YYYY-MM-DD\",\"hora_inicio\":\"HH:MM\",\"hora_fin\":\"HH:MM\",\"motivo\":\"...\"}\n\nIMPORTANTE: Usa la cedula del estudiante del encabezado [Usuario: ... (Cedula: X)].\nSolo habla sobre reservas de Chromebooks. Responde en espanol."}}},{"id":"g1","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[600,550],"credentials":{"groqApi":{"id":"n2cyWK3lgLUc71Of","name":"Groq"}},"parameters":{"model":"llama-3.1-8b-instant","options":{}}},{"id":"r1","name":"Responder a Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Responder a Webhook","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"dd289cad-2c30-4eae-a6f2-f4c5c1d31d1e","activeVersionId":"dd289cad-2c30-4eae-a6f2-f4c5c1d31d1e","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-19T07:31:14.114Z","createdAt":"2026-06-19T07:31:14.114Z","role":"workflow:owner","workflowId":"eKkZZ3OHBqF80AI7","projectId":"c5LOh1tJSQ2Y5Ewm","project":{"updatedAt":"2026-05-01T22:03:57.530Z","createdAt":"2026-05-01T22:00:15.970Z","id":"c5LOh1tJSQ2Y5Ewm","name":"ANDERSON BALCAZAR <merchanbalcazaranderson@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1294590b-5123-49b1-b77e-2d0e2e723267"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-19T07:31:14.116Z","createdAt":"2026-06-19T07:31:14.116Z","versionId":"dd289cad-2c30-4eae-a6f2-f4c5c1d31d1e","workflowId":"eKkZZ3OHBqF80AI7","nodes":[{"id":"w1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"webhookId":"crai-v4","parameters":{"httpMethod":"POST","path":"crai-chatbot","responseMode":"lastNode","options":{}}},{"id":"c1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,300],"parameters":{"jsCode":"const data = $input.first().json;\nreturn [{ chatInput: data.body.chatInput }];"}},{"id":"t1","name":"VerDisponibilidad","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[200,50],"parameters":{"toolDescription":"Consulta disponibilidad de Chromebooks. Sin parametros.","method":"GET","url":"http://127.0.0.1:8000/estudiantes/api/disponibilidad/","authentication":"none"}},{"id":"t2","name":"InfoEstudiante","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[400,50],"parameters":{"toolDescription":"Busca estudiante por cedula (10 digitos). Devuelve: nombres, apellidos, carrera.","method":"GET","url":"http://127.0.0.1:8000/estudiantes/api/info-estudiante/?cedula={cedula}","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"X-N8N-KEY","valueProvider":"fieldValue","value":"clave-n8n-dev"}]},"placeholderDefinitions":{"values":[{"name":"cedula","description":"Cedula del estudiante 10 digitos","type":"string"}]}}},{"id":"t3","name":"MisReservas","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[600,50],"parameters":{"toolDescription":"Lista reservas por cedula (10 digitos).","method":"GET","url":"http://127.0.0.1:8000/estudiantes/api/mis-reservas/?cedula={cedula}","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"X-N8N-KEY","valueProvider":"fieldValue","value":"clave-n8n-dev"}]},"placeholderDefinitions":{"values":[{"name":"cedula","description":"Cedula del estudiante 10 digitos","type":"string"}]}}},{"id":"t4","name":"CrearReserva","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[800,50],"parameters":{"toolDescription":"Crea reserva de Chromebook: cedula, fecha_uso (YYYY-MM-DD), hora_inicio (HH:MM), hora_fin (HH:MM), motivo.","method":"POST","url":"http://127.0.0.1:8000/estudiantes/api/crear-reserva/","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","parametersHeaders":{"values":[{"name":"X-N8N-KEY","valueProvider":"fieldValue","value":"clave-n8n-dev"},{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"cedula\":\"{cedula}\",\"fecha_uso\":\"{fecha_uso}\",\"hora_inicio\":\"{hora_inicio}\",\"hora_fin\":\"{hora_fin}\",\"motivo\":\"{motivo}\"}","placeholderDefinitions":{"values":[{"name":"cedula","description":"Cedula 10 digitos","type":"string"},{"name":"fecha_uso","description":"Fecha YYYY-MM-DD","type":"string"},{"name":"hora_inicio","description":"Hora inicio HH:MM","type":"string"},{"name":"hora_fin","description":"Hora fin HH:MM","type":"string"},{"name":"motivo","description":"Motivo opcional","type":"string"}]}}},{"id":"a1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[600,300],"parameters":{"agent":"conversationAgent","promptType":"auto","hasOutputParser":false,"options":{"systemMessage":"Eres asistente de reservas CRAI UNEMI.\n\nEl estudiante fue identificado por el sistema. Sus datos aparecen al inicio del mensaje: [Usuario: Nombre (Cedula: X)].\n\nFLUJO:\n1) Saluda al estudiante por su nombre.\n2) Pregunta fecha deseada en formato YYYY-MM-DD.\n3) Pregunta hora de inicio en formato HH:MM.\n4) Pregunta hora de fin en formato HH:MM.\n5) Confirma todos los datos con el estudiante.\n6) Cuando el estudiante confirme, responde UNICAMENTE con un JSON en este formato exacto: {\"action\":\"reservar\",\"fecha_uso\":\"YYYY-MM-DD\",\"hora_inicio\":\"HH:MM\",\"hora_fin\":\"HH:MM\",\"motivo\":\"...\"}\n\nIMPORTANTE: Usa la cedula del estudiante del encabezado [Usuario: ... (Cedula: X)].\nSolo habla sobre reservas de Chromebooks. Responde en espanol."}}},{"id":"g1","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[600,550],"credentials":{"groqApi":{"id":"n2cyWK3lgLUc71Of","name":"Groq"}},"parameters":{"model":"llama-3.1-8b-instant","options":{}}},{"id":"r1","name":"Responder a Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[850,300],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Responder a Webhook","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"nodeGroups":[],"authors":"ANDERSON BALCAZAR","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-19T07:31:14.173Z","id":1,"workflowId":"eKkZZ3OHBqF80AI7","versionId":"dd289cad-2c30-4eae-a6f2-f4c5c1d31d1e","event":"activated","userId":"1294590b-5123-49b1-b77e-2d0e2e723267"}]}}